{%extends 'testApp/index.html' %}
{%block title%}
Updating Details
{%endblock%}

{%block content%}
<p class="h3 my-3 pt-2 border-top">Update Details</p>

<form method="POST" >
{% csrf_token %}
    <div class="mb-3">
      <label for="ename" class="form-label">Employee name: </label>
      <input type="Text" class="form-control" id="ename" aria-describedby="ename" placeholder={{ename}} name="ename">
    </div>
    <div class="mb-3">
      <label for="edept" class="form-label">Department: </label>
      <input type="text" class="form-control" id="edept" placeholder={{edept}} name="edept">
    </div>
    <div class="mb-3">
      <label for="esal" class="form-label">Salary: </label>
      <input type="number" class="form-control" id="esal" placeholder={{esal}} name="esal">
    </div>
   
    <button type="submit" class="btn" style="color: #A072EF; background-color: #2B2A2F; transition: all .25s;">Update</button>

  </form>

{%endblock content%} 